// @import '../../../../styles/application';

.upload-resource {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  > .main-container {
    width: 100%;
    position: relative;

    &.no-file-but-image {
      position: relative;
      height: fit-content;
      display: flex;

      > .image-container {
        width: calc(100% - 15px);
        height: calc(100% - 15px);
        margin: 0 0 15px 15px;
      }

      > .uploader {
        position: absolute;
        bottom: 0;
        width: calc(100% - 15px);
        height: calc(100% - 15px);

        > .upload {
          height: 100%;
        }
      }
    }

    > .uploader {
      width: 100%;
      min-height: 250px;
      padding: 20px 0;
      gap: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 4px dashed #d1d4e0;
      border-radius: 15px;
      cursor: pointer;
      z-index: 1;
      background-color: white;
      position: relative;

      &:hover:not(:has(> *:hover:not(.upload:hover))) {
        border: 4px dashed #1a6aff;
        color: #1a6aff;
        background-color: #cddffe;

        > .upload {
          > span {
            color: #1a6aff;
          }
          > svg > path {
            fill: #1a6aff;
          }
        }
      }

      > .upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        &.image > svg {
          height: 65px;
        }

        > span {
          font-weight: bold;
          font-size: 15px;
          color: var(--primary-color);
          text-align: center;
          padding: 0 18px;
        }
      }

      &.show-error {
        border: 3px dashed rgb(255, 49, 49);
        transition: border-width 0.6s linear;
      }
    }
    > .image-container {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      width: 100%;
      border-radius: 10px;

      > .image,
      > a > .image {
        border-radius: 10px;
        box-shadow: 0 0 6px #dedede;
      }

      > .round-button {
        margin: 12px;
      }
    }
  }

  > .bottom-container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 15px;

    > .subcontainer,
    > .input-text-field,
    .dropdown > input {
      width: 100%;
      height: fit-content;
    }

    > .subcontainer,
    > .input-text-field > input,
    .dropdown > input {
      width: 100%;
      height: fit-content;
      box-shadow: 0 0 6px #dedede;
      border-radius: 10px;
    }

    > .link {
      > .input-container {
        padding: 8px 0;
        height: 100%;
        border-radius: 10px;
        background-color: transparent;
        > :last-child:not(input) {
          margin-right: 10px;
        }
      }

      > .error-msg {
        margin: 5px 0 -4px 0px;
      }
    }

    > .uploaded-name {
      width: 100%;
      display: flex;
      height: 48px;
      padding-right: 10px;
      align-items: center;
      font-weight: 500;
      font-size: 15px;
      color: #757575;

      > .content-icon {
        display: flex;
        align-items: center;
        margin: 0 10px 0 16px;
        color: #757575;
      }
      > abbr {
        margin-right: 5px;
      }
      > .round-button {
        display: flex;
        margin-left: auto;
      }
    }

    > .dropdown {
      width: 130px;
      > .dropdown-content {
        width: auto;
      }
    }
  }
}
