<div class="dialog">
  The deletion of your {{=it.instanceName}} account means that:<br />
  <ul>
    <li>All your personal information <span>will be removed.</span></li>
    <li>Your contributions will be kept as anonymous.</li>
  </ul>
  Feel free to remove any content you don't want to be kept.
</div>
<p style="margin: 25px 0">
  <a href="{{=it.actionButtonUrl}}" class="btn btn-primary" target="_blank"
    >Delete account permanently</a
  >
</p>
