@import '../../packages/component-library/src/webapp/ui/styles/main.scss';

html {
  font-family: 'Open Sans';
  height: 100%;
  font: inherit;

  > body {
    height: 100%;

    > #root {
      height: 100%;
      align-items: center;

      > .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
