.browser {
  > .filter-bar {
    z-index: 4;
    position: fixed;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    left: 0;
    top: 60px;
    height: 60px;
    width: 100%;
    font-size: 0.7rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--header-background);

    @media screen and (max-width: 675px) {
      padding: 0 25px;
    }

    > .filter-bar-content {
      display: flex;
      width: 100%;
      align-items: center;
      max-width: 1100px;
      gap: 10px;

      > .content-type-filters > .floating-menu > .menu {
        left: 0;
        transform: none;
      }

      > .separator {
        width: 1px;
        height: 24px;
        background-color: #abacaf;
      }
      > div {
        display: flex;
        gap: 10px;
      }
    }
  }

  &.show-filters > .content {
    padding-top: 60px;
  }
  > .content {
    padding-top: 20px;
    max-width: 1100px;
    height: 100%;
    display: flex;

    > .main-column {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      > .title {
        color: #223b6a;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 4px;
      }
    }

    @media screen and (max-width: 800px) {
      > .main-column {
        margin-bottom: 20px;
        &:not(.full-width) {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }

  @media (min-width: 450px) and (max-width: 1000px) {
    .collections > .content > .collection-card {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 450px) {
    > .content {
      // margin: 25px;
      > .main-column {
        gap: 15px;
      }
    }
  }
}
