.tertiary-button {
  color: #687082;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13.5px;
  letter-spacing: 0.4px;
  width: fit-content;
  min-height: 32px;
  padding: 6px 18px;
  white-space: nowrap;
  text-decoration: none;

  &:not(.disabled) {
    cursor: pointer;
  }

  &:hover:not(.disabled) {
    border-radius: 45px;
    background-color: #f1f3f4;
  }

  &:active:not(.disabled) {
    background-color: #e2e5e5;
  }

  &:focus-visible:not(.disabled) {
    border: none;
    outline: none;
    transition: 0.1s;
    box-shadow: 0 0 3pt 2pt #1a6affb0;
  }

  &.disabled {
    &:not(.abbr) {
      user-select: none;
      pointer-events: none;
    }

    &.abbr {
      cursor: initial;
    }
  }

  &.black {
    color: black;
  }
}
