.main-resource-card {
  display: flex;
  flex-direction: column;
  gap: 22px;
  position: relative;

  @media screen and (min-width: 450px) {
    padding: 26px 34px 34px 34px;
  }

  @media screen and (max-width: 450px) {
    padding-top: 0;
    padding-bottom: 0;
  }

  > .info-card {
    display: flex;
    padding: 0;
    box-shadow: none;
  }

  > .resource-header {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    gap: 8px;

    .top-header-row {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      min-height: 38px;

      > * {
        display: flex;
      }

      > .top-left-header {
        flex: 1 1 auto;
        overflow: hidden;
        font-size: 19px;
        font-weight: bold;
        align-items: center;
        gap: 10px;
        > .type-pill {
          border-radius: 16px;
          font-size: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          pointer-events: none;
          padding: 2px 10px;
          width: 100%;
          height: fit-content;
          max-width: -moz-fit-content;
          max-width: fit-content;
          color: white;
        }
        > .saving-feedback,
        > .saved-feedback {
          display: flex;
          font-size: 12px;
          gap: 5px;
          align-items: center;
          color: #8f8f8f;
          font-weight: normal;
          > svg {
            height: 21px;
            width: 21px;
            fill: #8f8f8f;
          }
        }
      }
      > .top-right-header {
        display: flex;
        margin-right: -6px;

        > * {
          display: flex;
          align-items: center;
          gap: 2px;
          font-size: 15px;
          font-weight: normal;
          &:not(.disabled) {
            cursor: pointer;
          }

          svg {
            width: 21px;
            height: 21px;
          }
        }

        > .tertiary-button,
        > .more-button > .hover-element > .tertiary-button,
        > abbr {
          padding: 0 6px;
        }

        > .publish-button {
          padding: 0px 6px;
          border-radius: 45px;
          color: white;
          background-color: #00bd7e;
          &:hover {
            background-color: #009966;
          }
        }

        .bookmarked {
          color: #00bd7e;
        }

        > .bookmark:hover {
          color: #009966;
        }

        // > .share:hover {
        //   color: $primary-color;
        // }

        > .edit-save {
          width: 40px;
          margin: 0 6px;
          > * {
            width: 100%;
            > svg,
            * > svg {
              width: 18px;
              height: 18px;
            }
          }
          > .primary-button {
            display: grid;
            grid-template-columns: 1fr;
            > div {
              grid-row-start: 1;
              grid-column-start: 1;
              display: flex;

              &.loading {
                display: flex;
                visibility: visible;
                width: 100%;
                align-items: center;
                justify-content: center;
              }
            }

            &.loading {
              pointer-events: none;
            }
          }
        }
      }
    }

    > .title {
      &,
      > .textarea-container {
        min-height: 40px;

        &,
        > textarea {
          font-size: 26px;
          line-height: 30px;
          font-weight: bold;
        }
      }

      > .textarea-container {
        min-height: 40px;
      }

      > .error-msg {
        font-weight: normal;
        margin: -4px 0 10px 0px;
      }
    }

    .tags {
      display: flex;
      justify-content: flex-start;
      padding: 3px 0 3px 5px;
      gap: 5px;
    }
  }

  > .resource-header > .input-text-field,
  > .input-text-field {
    > .input-container {
      padding: 0;
      box-shadow: none;
    }
  }

  > .image-container {
    > a > .image,
    > .image {
      border-radius: 10px;
    }
  }

  > .description {
    font-size: 14px;
    line-height: 22px;
    position: relative;
    > .see-more {
      position: absolute;
      cursor: pointer;
      bottom: 0;
      right: 0;
      color: gray;
      background: white;
      padding-left: 8px;
      &:hover {
        color: #1a6aff;
      }
    }
  }

  .resource-footer {
    display: flex;
    justify-content: flex-end;
    > button {
      width: 40px;
      > svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
