.resource {
  display: flex;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: 450px) {
    background-color: white;
  }

  > .content {
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    gap: 20px;

    > .wide-column {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    > .main-and-right-columns {
      display: flex;
      gap: 20px;
      justify-content: space-between;

      > .main-column,
      > .right-column {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100%;
      }
    }

    @media screen and (max-width: 450px) {
      gap: 30px;

      > .main-and-right-columns {
        flex-direction: column;
        gap: 30px;

        > .main-column {
          gap: 30px;
          > .resource-contributor-card {
            padding: 0;
          }
        }
      }
    }

    @media (min-width: 450px) and (max-width: 800px) {
      > .main-and-right-columns {
        > .main-column {
          width: calc(50% - 10px);
        }
        > .right-column {
          width: calc(50% - 10px);
        }
      }
    }

    @media screen and (min-width: 800px) {
      > .main-and-right-columns {
        > .main-column {
          width: 65%;
        }
        > .right-column {
          width: 32%;
        }
      }
    }

    > .main-and-right-columns > .right-column > .extra-details-card {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 13px;
      flex-wrap: wrap;
      justify-content: center;

      @media screen and (min-width: 450px) {
        padding: 25px;
      }

      > .dropdown,
      > .date > .fields > .dropdown {
        gap: 4px;

        > label {
          margin-bottom: 0;
        }
        > .input-container {
          background-color: transparent;
          border: none;
        }

        &.disabled {
          > .input-container {
            background-color: transparent;
            border: none;
            > .dropdown-button {
              color: #c6c6c6;
            }
          }
        }
      }

      > .detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        > .title {
          font-weight: bold;
          font-size: 14px;
        }
        > .value {
          display: flex;
          align-items: center;
          color: #212121;
          fill: #212121;
          height: 24px;
          width: 100%;
          line-height: 20px;
          font-weight: 500;
          font-size: 14px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.date {
            display: flex;
            gap: 8px;
          }

          &.icons {
            display: flex;
            align-items: center;
            gap: 6px;
            > div {
              display: flex;
              gap: 3px;
              > * {
                width: 20px;
                height: 20px;
              }
            }
          }
        }

        &.license {
          margin-bottom: 2px;
        }
      }

      > .license-dropdown {
        margin-bottom: 2px;
      }

      > *,
      .date > .fields > * {
        > label {
          margin-bottom: 2px;
        }
        > .input-container {
          min-height: 24px;
          height: 24px;
          box-shadow: none;
          > .dropdown-button {
            padding: 0;
            > .dropdown-pill {
              justify-content: flex-start;
            }
          }
          &.not-editing {
            background-color: transparent;
            border: none;
            color: #c6c6c6;
          }
        }
      }

      > .date {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2px;
        > label {
          font-weight: bold;
          font-size: 14px;
        }
        > .fields {
          display: flex;
          > :first-child.display-mode.not-editing {
            width: 60px;
          }
        }
        &.disabled {
          color: #c6c6c6;
        }
      }
    }

    > .main-and-right-columns > .main-column > .resource-action-card,
    > .main-and-right-columns > .right-column > .resource-action-card {
      width: 100%;
      height: fit-content;
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 450px) {
        padding: 25px;
      }

      @media screen and (min-width: 1000px) {
        > .button,
        a {
          max-width: 80%;
        }
      }

      > .button,
      > a > .button {
        width: 100%;
        justify-content: center;
        padding: 11px;
        flex: 1;
        gap: 8px;
        height: 40px;

        > svg {
          width: 18px;
        }
      }

      > a {
        width: 100%;
      }
    }
  }
}
