.profile {
  display: flex;
  justify-content: center;
  width: 100%;

  > .content {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 450px) {
      margin-top: 0;
      padding: 0;

      > .main-column {
        > .list-card {
          padding: 0 40px;
        }

        > :not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    > .main-column {
      width: 65%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      > * {
        width: auto;
      }

      > .profile-collection-list {
        display: none;
      }
    }

    > .side-column {
      width: 32%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      > .profile-collection-list > .title {
        font-size: 15px;
      }
    }

    @media screen and (max-width: 1000px) {
      > .main-column {
        width: 100%;
        height: 100%;

        > .profile-collection-list {
          display: flex;
        }
      }

      > .side-column {
        display: none;
        width: 325px;
        height: 100%;
      }
    }
  }
}
