@import '../../../styles/application';

.simple-dropdown {
  > .hover-element {
    > .primary-button,
    > .secondary-button {
      padding: 6px 6px 6px 18px;
    }
  }
  > .menu {
    left: 50%;
    transform: translate(-50%, 0);

    > .content {
      padding: 8px 0;
      display: flex;
      flex-direction: column;

      &::-webkit-scrollbar {
        display: none;
      }
      > .section {
        gap: 0;
        display: flex;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        padding: 0;
        color: black;

        > .border-container {
          width: 6px;
          height: 48px;
          padding: 0;

          &.selected {
            background-color: var(--primary-background-color);
          }
          > .border {
            width: 100%;
            height: 100%;
            border-radius: 0 4px 4px 0;
            transition: background-color 150ms ease-in;
            &.selected {
              background-color: var(--primary-color);
            }
          }
        }

        &:hover {
          > .border-container > .border {
            &:not(.selected) {
              background-color: #e8e8e8;
            }
          }
        }

        > .content {
          width: 100%;
          padding: 14px 30px;
          transition: background-color 150ms ease-in;
          &.selected {
            background-color: var(--primary-background-color);
          }
        }
      }
    }
  }
}
