.main-collection-card {
  display: flex;
  flex-direction: column;
  gap: 22px;
  position: relative;

  @media screen and (min-width: 450px) {
    padding: 26px 34px 34px 34px;
  }

  @media screen and (max-width: 450px) {
    padding-top: 0;
    padding-bottom: 0;
  }

  > .image-container,
  > .upload-image {
    height: 300px;
    margin: -26px -34px 0;
    width: calc(100% + 68px);
    overflow: hidden;

    > .image {
      height: 100%;
      border-radius: 16px 16px 0 0;
      background-position: center center;
      background-size: cover;
    }

    > .uploader {
      padding: 34px 34px 0;
    }

    @media screen and (max-width: 450px) {
      margin: -34px -34px 0;
      > .image {
        border-radius: 0;
      }
    }
  }

  > .info-card {
    display: flex;
    padding: 0;
    box-shadow: none;
  }

  > .collection-header {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    gap: 8px;

    .top-header-row {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      min-height: 38px;

      > * {
        display: flex;
      }

      > .top-left-header {
        flex: 1 1 auto;
        overflow: hidden;
        font-size: 19px;
        font-weight: bold;
        align-items: center;
        gap: 10px;
        > .type-pill {
          border-radius: 16px;
          font-size: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          pointer-events: none;
          padding: 2px 10px;
          width: 100%;
          height: fit-content;
          max-width: -moz-fit-content;
          max-width: fit-content;
          color: white;
        }
        > .saving-feedback,
        > .saved-feedback {
          display: flex;
          font-size: 12px;
          gap: 5px;
          align-items: center;
          color: #8f8f8f;
          // font-weight: normal;
          > svg {
            height: 21px;
            width: 21px;
            fill: #8f8f8f;
          }
        }
      }
      > .top-right-header {
        display: flex;
        margin-right: -6px;

        > * {
          display: flex;
          align-items: center;
          gap: 2px;
          font-size: 15px;
          font-weight: normal;
          &:not(.disabled) {
            cursor: pointer;
          }
          > svg,
          * > svg {
            width: 21px;
            height: 21px;
          }
        }

        > .tertiary-button,
        > abbr,
        > .more-button > .hover-element > .tertiary-button {
          padding: 0 6px;
        }

        > .follow:not(.disabled) {
          &.followed {
            color: var(--primary-color);
            &:not(:hover) > svg {
              color: var(--primary-color);
            }
            &:hover > * {
              color: var(--primary-color-hover);
            }
          }

          &:hover {
            color: var(--primary-color-hover);
          }
        }

        .bookmarked {
          color: #00bd7e;
        }

        > .bookmark:hover {
          color: #009966;
        }

        > .publish-button {
          padding: 0px 6px;
          // border-radius: 45px;
          // color: white;
          // background-color: #00bd7e;
          // &:hover {
          //   background-color: #009966;
          // }
        }

        > .edit-save {
          width: 40px;
          margin: 0 6px;
          > * {
            width: 100%;
            > svg,
            * > svg {
              width: 18px;
              height: 18px;
            }
          }
          > .primary-button {
            display: grid;
            grid-template-columns: 1fr;
            > div {
              grid-row-start: 1;
              grid-column-start: 1;
              display: flex;

              &.loading {
                display: flex;
                visibility: visible;
                width: 100%;
                align-items: center;
                justify-content: center;
              }
            }

            &.loading {
              pointer-events: none;
            }
          }
        }
      }
    }

    > .title {
      &,
      > .textarea-container {
        min-height: fit-content;
        &,
        > textarea {
          font-size: 26px;
          line-height: 30px;
          font-weight: bold;
        }
      }
    }

    .tags {
      gap: 5px;
      > a > .tag {
        font-size: 12px;
      }
    }
  }

  > .collection-header > .input-text-field,
  > .input-text-field {
    > .input-container {
      padding: 0;
      box-shadow: none;
      // animation: none;
    }
  }

  > .description-container {
    font-size: 14px;
    line-height: 22px;
    position: relative;
    > .see-more {
      position: absolute;
      cursor: pointer;
      bottom: 0;
      right: 0;
      color: gray;
      background: white;
      padding-left: 8px;
      &:hover {
        color: #1a6aff;
      }
    }
    > .textarea > .textarea-container {
      min-height: fit-content;
    }
  }

  .collection-footer {
    display: flex;
    gap: 8px;
    // justify-content: flex-end;
    > button {
      width: 40px;
      > svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
