@import '../../../styles/main.scss';

html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}
.main-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: #f6f5f4;
  // background-color: var(--color-light-gray-14);

  &.streched {
    > .header {
      padding: 0 20px;
      > .content {
        max-width: none;
      }
    }
    > .content {
      max-width: none;
      padding: 100px 20px 0;
    }
  }

  > .header {
    width: -webkit-fill-available;
    display: flex;
    position: fixed;
    justify-content: center;
    background: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    z-index: 5;

    @media screen and (max-width: 675px) {
      padding: 0 25px;
      > .content {
        gap: 15px;
      }
    }

    > .content {
      height: 100%;
      width: 100%;
      max-width: 1100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;

      > .right {
        display: flex;

        > .dev-mode {
          display: flex;
          align-items: center;
          gap: 10px;
          > .label {
            font-size: 13px;
            color: #7e7e7e;
          }
        }
      }
    }
  }

  > .content {
    height: fit-content;
    width: 100%;
    padding: 100px 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    > * {
      width: 100%;
      max-width: 1100px;
    }

    @media (max-width: 450px) {
      background: white;
      padding: 85px 0 0;
      > * > * {
        padding: 0 25px;
      }
    }

    @media screen and (max-width: 675px) and (min-width: 450px) {
      padding: 85px 25px 0;
    }
  }

  > .side-menu {
    width: 160px;
    height: 100%;
    background: #1d6bbf;

    .logo {
      height: 32px;
      line-height: 32px;
      margin: 16px;
      color: white;
      text-align: center;
    }
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
div,
pre {
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0 10px;
  font-style: italic;
}
